<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zerebrez.zerebrez">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".services.firebase.DownloadImages"/>
        <service android:name=".services.notification.NotificationService"/>
        <!-- Register the Alarm Receiver -->
        <receiver android:name=".services.notification.NotificationAlarmReciver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.ContentActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.QuestionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.SendEmailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.ChooseSchoolsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.PaywayActivityRefactor"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.ShowAnswerMessageActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activities.ShowAnswerActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>